<!DOCTYPE html>
<html>
<head>
    <title>Available Jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='job-styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .form-row {
            display: flex;
        }
        .form-group {
            margin-right: 10px;
            margin-left: 10px;
        }
        .job-row {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- <form method="post">
        <label for="Location">Location</label>
        <label for="Company">Company</label>
        <label for="Skills">Skills</label>
        <br>
        <input type="text" name="Location"
               placeholder="Location"
               value="{{ request.form['Location'] }}"></input>
        <input type="text" name="Company"
                placeholder="Company"
                value="{{ request.form['Company'] }}"></input>
        <input type="text" name="Skills"
                placeholder="Skills"
                 value="{{ request.form['Skills'] }}"></input>
        <br>

        <br>

        <br>

        <br>

        <br> -->
        <!-- <br>
        <button type="submit">Submit</button>
    </form> -->
    <form method="POST">
    <!-- Other filters here -->

</form>
    <form method="post">
        <div class="form-row">
            <div class="form-group">
                <select name="role_types" multiple>
                    <option value="full_time">Full Time</option>
                    <option value="internship">Internship</option>
                    <option value="coop">Co-op</option>
                </select>
                <input type="submit" value="Filter">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="Location">Location</label>
                <input type="text" id="Location" name="Location"
                placeholder="Location" value="{{request.form['Location']}}"></input>
            </div>
            <div class="form-group">
                <label for="Company">Company</label>
                <input type="text" id="Company" name="Company"
                placeholder="Company" value="{{request.form['Company']}}"></input>
            </div>
            <div class="form-group">
                <label for="Skills">Skills</label>
                <input type="text" id="Skills" name="Skills"
                placeholder="Skills" value="{{request.form['Skills']}}"></input>
            </div>
            <div class="form-group">
                <label for="Experience">Experience</label>
                <input type="text" id="Skills" name="Experience"
                placeholder="Experience" value="{{request.form['Experience']}}"></input>
            </div>
            <div class="form-group">
                <label for="Attribute Search">Search</label>
                <input type="text" id="search" name="Search"
                placeholder="Search" value="{{request.form['Search']}}"></input>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>

    <h2>Job Board</h2>
    <div class="table-container" data-is-candidate="{{ is_candidate }}">
        <table>
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Location</th>
                    <th>Requirements</th>
                    <th>Skills</th>
                    <th>Company</th>
                    <th>Recruiter</th>
                </tr>
            </thead>
            <tbody>
                {% for posting in postings %}
                    <tr class="job-row" data-jobid="{{ posting[0] }}" data-recruiter="{{ posting[7] }}">
                        <td>{{ posting[0] }}</td>
                        <td>{{ posting[1] }}</td>
                        <td>{{ posting[2] }}</td>
                        <td>{{ posting[3] }}</td>
                        <td>{{ posting[4] }}</td>
                        <td>{{ posting[5] }}</td>
                        <td>{{ posting[6] }}</td>
                        <td>{{ posting[8] }}</td>
                        {% if is_candidate %}
                            <td>
                                <button type="button" class="btn btn-primary applyBtn" data-toggle="modal" data-target="#applyModal"
                                        data-jobid="{{ posting[0] }}" data-jobtitle="{{ posting[1] }}" data-recruiter="{{ posting[7] }}">Apply</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div id="applyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Apply for Job</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/apply" method="post">
                        <input type="hidden" name="job_id" id="modalJobId">
                        <input type="hidden" name="recruiter_username" id="modalRecruiterUsername">
                        <div class="form-group">
                            <label for="resume">Resume:</label>
                            <input type="text" class="form-control" name="resume" id="resume">
                        </div>
                        <div class="form-group">
                            <label for="cover_letter">Cover Letter:</label>
                            <textarea class="form-control" name="cover_letter" id="cover_letter"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var isCandidate = {{ is_candidate | tojson }};
            if (isCandidate) {
                $('.job-row').click(function(){
                    var jobId = $(this).data('jobid');
                    var recruiterUsername = $(this).data('recruiter');
                    // autopopulate from job posting (passed in from server.py!)
                    $('#modalJobId').val(jobId);
                    $('#modalRecruiterUsername').val(recruiterUsername);

                    $('#applyModal').modal('show');
                });
            }
        });
    </script>

</body>
</html>
